body {
    max-width: 600px;
    margin: 0 auto;
}

.title,
.content,
.button-container {
    background-color: lightblue;
    padding: 8px;
    margin-bottom: 8px;
}

.title {
    font-size: 16px;
}

.content {
    padding: 16px 8px;
}

.button {}

.button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    padding: 8px 24px;
    background-color: white;
    border: none;
}